body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f4f4f4;
}

.active {
    color: #00ffff;
    font-weight: 700;
    border-bottom: #00ffff 5px solid;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #00cccc;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.btn-delete {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #ff0000;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.hidden {
    display: none;
}

.navbar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #00ffff;
    padding: 10px 0;
}

.navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: #333;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-link {
    padding: 20px; 
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#app {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    margin-top: 150px;
}